<ons-page id="sessionItemNotesPage"> 
    <ons-toolbar>
        <div class="left"><ons-back-button>Annuler</ons-back-button></div>
        <div class="center">Mes notes</div>
    </ons-toolbar>    
    <h3 id="sessionItemTitleNotesPage"></h3>
    <div id="pic_buttons">
        <ons-button id="pickImageFile" modifier="outline"><ons-icon icon="fa-picture-o"></ons-icon></ons-button>
        <ons-button id="takePicture" modifier="outline"><ons-icon icon="fa-camera"></ons-icon></ons-button>
    </div>
    <div>
        <div>
            <button id="sessionButtonSaveNotes" class="button button--large">Enregistrer</button>
        </div>
        <div><textarea id="sessionMesNotesTextArea" class="textarea" style="width: 100%" placeholder="Mes notes"></textarea></div>
        <div id="images"></div>
    </div>
</ons-page>

